In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data[1]

0.5

In [8]:
data[1:3]

1    0.50
2    0.75
dtype: float64

### Series as generalized NumPy array

The Series object is basically interchangeable with a one-dimensional NumPy array. The essential difference is the presence of the index: while the NumPy has an *implicitly defined* integer index used to access the values, the Pandas Series has an *explicitly defined* index associated with the values.

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [10]:
data['b']

0.5

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [12]:
data[5]

0.5

### Series as specialized dictionary

In [13]:
population_dict = {'California': 38382521,
                  'Texas': 26448193,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38382521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [14]:
population['California']

38382521

In [15]:
# unlike a dictionary, though, the Series also supports array-style operations such as slicing:
population['California':'Illinois']

California    38382521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing Series objects

In [16]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [17]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [18]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [19]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3,2])

3    c
2    a
dtype: object

## The Pandas DataFrame Object
### DataFrame as a generalized NumPy array

In [20]:
area_dict = { 'California': 423967, 'Texas': 695562, 'New York': 141297,
            'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695562
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [22]:
states = pd.DataFrame({'population': population,
                      'area': area})
states

            population    area
California    38382521  423967
Texas         26448193  695562
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [23]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [24]:
states.columns

Index(['population', 'area'], dtype='object')

Thus the DataFrame can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accerssing the data.

### DataFrame as specialized dictionary

In [26]:
states['area']

California    423967
Texas         695562
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [30]:
states['area']['California']

423967

### Constructing DataFrame objects
### From a single Series object

In [32]:
pd.DataFrame(population, columns=['population'])

            population
California    38382521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

### From a list of dicts

In [33]:
data = [{'a': i, 'b': 2 * i}
       for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [34]:
# Even if some keys in the dictionary are missing, Pandas will fill them in with NaN
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

### From a dictionary of Series objects

In [35]:
pd.DataFrame({'population': population,
             'area': area})

            population    area
California    38382521  423967
Texas         26448193  695562
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

### From a two-dimensional NumPy array.

In [36]:
pd.DataFrame(np.random.rand(3,2),
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.689931  0.595097
b  0.307520  0.931960
c  0.692879  0.241940

### From a NumPy structured array

In [37]:
A = np.zeros(3, dtype=[('A', 'i8'),('B','f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [38]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The Pandas Index Object

In [44]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index as immutable array

In [45]:
ind[1]

3

In [46]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [47]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [48]:
ind[0] = 0

TypeError: Index does not support mutable operations

### Index as ordered set

In [49]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
indA & indB # intersection

Int64Index([3, 5, 7], dtype='int64')

In [50]:
indA | indB # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [51]:
indA ^ indB # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')